*{
    margin: 0px;
    padding: 0px;
}

.nav{
    background-color: blue;
    height: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
}
a{
    margin: 30px;
    color: aliceblue;  
}
