*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.content{
    display: flex;
}
.navtext{
    color: aliceblue;
}
ul{
    display: flex;
    margin-left: 600px;
    font-weight: bold;
}
li{
    margin-left: 50px;
    margin-top: 40px;
}
nav{
    background-color: rgba(248, 248, 251, 0.951);
    color: rgb(0, 5, 8);
}
main{
    color: white;
    background-image: linear-gradient(rgba(12, 12, 12, 0.451),rgba(30, 29, 29, 0.007)), url("./blue\ image.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin-top: 5px;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: rgb(54, 5, 250);
    text-transform: uppercase;
}
li:hover{
    
    text-decoration: underline;
    color: rgb(72, 10, 241);
}
.avtar{
    display: flex;
}
.icon{
    margin-left: 150px;
    margin-top: 20px;
}
div i{
    font-size: 40px;
    margin-left: 20px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: rgb(170, 188, 30);
    padding-left: 20px;
    padding-top: 20px;
}
