main{
    background-image:linear-gradient(rgba(111, 108, 108, 0.778),rgba(124, 119, 119, 0.46)),  url("./sochool\ photo.jpg");
    height: 100vh;
    background-size: cover;
    
}
li{
    list-style-type: none;
    margin-left: 20px;
    color: aliceblue;
    
}
ul{
    display: flex;
     
    
}
h1{
    margin-left: 80px;
    padding-top: 40px;
}
.a{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-left: 150px;
    /* padding-top: 20px; */
    padding-right: 150px;
    font-size: 20px;
}
h2{
    color: yellow;
    margin-left: 20px;
    margin-top: 100px;
}
.w{
    text-align: center;
    margin-top: 250px;
}
button{
    background-color: green;
    color: white;
    padding: 10px;
    margin-left: 670px;
    border-radius: 5px;
}
