nav{
    background-color: #1e1e9d;
    color: white;
    height: 140px;
    display: flex;
}
div h2{
    margin-left: 50px;
    font-size: 28px;
}
div p{
    margin-left: 50px;
    /* padding-top: -5px; */
    transform: translateY(-18px);
    font-size: 19px;
}
.app{
    margin-left: 920px;
    margin-top: 40px;
}
.atte{
    margin-top: 10px;
}
.now{
    height: 60px;
    width: 150px;
    border-radius: 30px;
    background-color: #09a5be;
    color: white;
    font-size: 20px;
}
.now:hover{
    transition: 1s;  
    transform: translateY(-10px);
    cursor: pointer;
}
.more{
    height: 60px;
    width: 150px;
    border-radius: 30px;
    font-size: 20px;
}
.more:hover{
    transition: 1s;  
    transform: translateY(-10px);
    cursor: pointer;
}
@media(min-width:300px) and (max-width:500px){
    nav{
        height: 277px;
        flex-direction: column;
    }
    .atte{
        /* margin-left: -9px; */
        transform: translateY(-15px);
        font-size: 20px;
        text-align: center;
    }
    .app{
        margin-left: 185px;
        transform: translateY(-78px);
        flex-direction: column;
    }
}
@media(min-width:300px) and (max-width:485px){
    .app{
        margin-left: 165px;
        flex-direction: column;
    }
}
@media(min-width:300px) and (max-width:450px){
    .app{
       margin-left: 130px; 
    }
}
@media(min-width:300px) and (max-width:400px){
    .app{
        margin-left: 95px;
    }
}



@media(min-width:501px) and (max-width:800px){
    nav{
        flex-direction: column;
        height: 342px;
    }
    .atte h2{
        font-size: 36px;
    }
    .atte p{
        font-size: 20px;
    }
    .app{
        margin-left: 200px;
        transform: translateY(-60px);
        flex-direction: column;
    }
    .atte{
        text-align: center;
    }
    .more{
        display: block;
    }
}
@media(min-width:801px) and (max-width:1100px){
    nav{
        flex-direction: column;
        height: 150px;
    }
    .app{
        margin-top: -92px;
        margin-left: 700px;
        display: flex;
    }
    .now{
        height: 50px;
        width: 100px;
        font-size: 10px;
    }
    .more{
        height: 50px;
        width: 100px;
        font-size: 10px;
    }
}
@media(min-width:801px) and (max-width:900px){
    .now{
        height: 50px;
        width: 100px;
        font-size: 10px; 
    }
    .more{
        height: 50px;
        width: 100px;
        font-size: 10px;
    }
    .app{
        margin-left: 605px;
    }
}